body{
    font-family: Arial, Helvetica, sans-serif;
}

.mainBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(26, 26, 26);
    color: whitesmoke;
}

.convBox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(110, 124, 128);
    color: whitesmoke;

    padding: 2rem;
    border-radius: 5px;
}